* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #FFFFFF;
  overflow-x: hidden;
  font-weight: 300;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: url('images/background.png') right bottom  no-repeat;
}

.page__body {
  position: relative;
  max-width: 1550px;
  padding: 0 30px 150px;
  width: 100%;
  margin: 0 auto;
}

.page__footer {
  font-size: 6.2vw;
  line-height: 1;
  font-weight: 800;
  color: #CFEDDB;
  text-align: center;
  position: absolute;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
}

.logo {
  max-width: 120px;
  margin: 35px 0 35px;
}

.promo-img {
  position: absolute;
  z-index: -1;
  right: -140px;
  top: 0;
}

.content {
  max-width: 650px;
  padding-left: 100px;
  width: 100%;
}

.description {
  font-size: 15px;
  line-height: 1.7;
  margin: 30px 0 45px;
}

.contacts {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  margin-bottom: 15px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  transition: .3s;
  display: flex;
  align-items: center;
}

.contacts__item img {
  width: 38px;
  margin-right: 20px;
}

.contacts__item--mail {
  color: #267F53;
  text-decoration: none;
  font-weight: 400;
}

.contacts-flex {
  display: flex;
}

.contacts-col {
  padding-right: 40px;
  font-size: 20px;
}
.contacts-col:last-child {
  padding-right: 0;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
  margin: 10px 0;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin: 30px 0 7px;
}

@media screen and (max-width: 1366px) {
  .content {
    padding-left: 0;
    max-width: 550px;
  }
  .promo-img {
    width: 60%;
    right: -40px;
    top: -20px;
  }
  .title {
    font-size: 70px;
  }

  .logo {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .page__body {
    padding-bottom: 80px;
  }
  .promo-img {
    position: static;
    width: 100%;
    margin-top: -30px;
  }
  .content {
    max-width: 100%;
  }
  .title {
    white-space: normal;
    font-size: 50px;
    position: relative;
    z-index: 2;
  }
  .title br {
    display: none;
  }
  .logo {
    width: 120px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 560px) {
  .logo {
    margin-top: 20px;
  }
  .title {
    font-size: 35px;
  }
  .contacts__mail, .contacts__phone {
    font-size: 16px;
  }
}